<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629985000286-2u9ogkk3eg3gt31v3pr4i2s25n4pt21d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629985000286-2u9ogkk3eg3gt31v3pr4i2s25n4pt21d</string>
	<key>API_KEY</key>
	<string>AIzaSyAAtVGjt4_T33DZ1rmTlmncrepLdhJGrMA</string>
	<key>GCM_SENDER_ID</key>
	<string>629985000286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joonwon.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-2fddd</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-2fddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629985000286:ios:f6abac660ae55a4f03edcf</string>
</dict>
</plist>